.img1{
  height: 500px;
  width: 100%;
}
.mid-image{
  position: absolute;
  margin-left: 40%;
  margin-top: -27%;
  font-size: 28px;
  color: white;
  font-family: serif;
  text-align: center;
}
.row{
  column-gap: none;
  border-collapse: collapse;
  margin-bottom: 3em;


}
#breakfast:hover{
  opacity: 0.3;
  cursor: pointer;

}
#lunch:hover{
  opacity: 0.3;
  cursor: pointer;

}
#dinner:hover{
  opacity: 0.3;
  cursor: pointer;

}
ul{
  list-style-type: none;

}
.imgtext{
  font-size: 30px;
  color: white;
  font-family: serif;
  position: absolute;
  bottom: 90px;
  left:130px;

}
.text1{
  font-size:30px;
  font-family: serif;
  color: #566573;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-top: 1em;
  background-color: #f1f1f1;

}
.text1:hover{
  color:white;
  background-color: #F15A29;
  text-decoration: none;
  cursor: pointer;

}
.text2{
  font-size: 30px;
  font-family: serif;
  color: #566573;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-top: 1em;
  background-color: #f1f1f1;

}
.text2:hover{
  color:white;
  background-color: #F15A29;
  text-decoration: none;
  cursor: pointer;

}
#fastfood{
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2;
  margin-bottom: 5em;
}
#drinks{
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 23px;
  box-shadow: 0 0 10px 10px #F2F2F2;

}
h2{
  font-family: serif;
}
h4{
  font-family: serif;
}
.img2{
  width: 100%;
  height:500px;
}
.active{
margin-bottom: -100px;
background-color: black;
color: white;
}
#btn1{
  
}
